GITHUB_TOKEN=
RESEND_API_KEY=
RESEND_FROM_EMAIL=M13 GitHub Sourcing <sourcing@example.com>
SUPABASE_URL=
SUPABASE_SERVICE_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
ALLOWED_EMAIL_DOMAIN=m13.co
AUTH_REDIRECT_URL=http://localhost:8503
